<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>student-course-mgmt-webapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <!-- Define the servlet -->
  <!-- Servlets related to Student -->
  <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>com.studcourse.mgmt.controller.StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/students</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudentEditFormServlet</servlet-name>
        <servlet-class>com.studcourse.mgmt.controller.StudentEditFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>com.studcourse.mgmt.controller.AddStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/addStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentEditFormServlet</servlet-name>
        <url-pattern>/editStudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <servlet-class>com.studcourse.mgmt.controller.UpdateStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <url-pattern>/updateStudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>com.studcourse.mgmt.controller.DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/deleteStudent</url-pattern>
    </servlet-mapping>
    
     <!-- Servlets related to Course -->
    <servlet>
        <servlet-name>CoursesServlet</servlet-name>
        <servlet-class>com.studcourse.mgmt.controller.CoursesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CoursesServlet</servlet-name>
        <url-pattern>/courses</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CourseEditFormServlet</servlet-name>
        <servlet-class>com.studcourse.mgmt.controller.CourseEditFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseServlet</servlet-name>
        <servlet-class>com.studcourse.mgmt.controller.AddCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCourseServlet</servlet-name>
        <url-pattern>/addCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseEditFormServlet</servlet-name>
        <url-pattern>/editCourse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCourseServlet</servlet-name>
        <servlet-class>com.studcourse.mgmt.controller.UpdateCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCourseServlet</servlet-name>
        <url-pattern>/updateCourse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <servlet-class>com.studcourse.mgmt.controller.DeleteCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <url-pattern>/deleteCourse</url-pattern>
    </servlet-mapping>
    
     <!-- Servlets related to Enrollment -->
     <servlet>
        <servlet-name>StudentEnrollmentsServlet</servlet-name>
        <servlet-class>com.studcourse.mgmt.controller.StudentEnrollmentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentEnrollmentsServlet</servlet-name>
        <url-pattern>/studentEnrollments</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>EnrollCoursesFormServlet</servlet-name>
        <servlet-class>com.studcourse.mgmt.controller.EnrollCoursesFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnrollCoursesFormServlet</servlet-name>
        <url-pattern>/enrollCoursesForm</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>DeleteEnrollmentServlet</servlet-name>
        <servlet-class>com.studcourse.mgmt.controller.DeleteEnrollmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteEnrollmentServlet</servlet-name>
        <url-pattern>/deleteEnrollment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProcessEnrollmentsServlet</servlet-name>
        <servlet-class>com.studcourse.mgmt.controller.ProcessEnrollmentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessEnrollmentsServlet</servlet-name>
        <url-pattern>/processEnrollments</url-pattern>
    </servlet-mapping>
    
</web-app>